{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "atomtest": true,
    "jasmine": true
  },
  "globals": {
    "atom": true
  },
  "rules": {
    // Thats ok to use lazy requires in atom
    "global-require": "off",
    // I like spaces when destructuring and no spaces otherwise
    "array-bracket-spacing": "off",
    "no-param-reassign": "off"
  }
}
